
<div class="container">
	<div class="row">
		<div class="col-8" style="justify-content: center;">
			<div class="screen">
				<div class="screen__content">
            		<form [formGroup]="formulario" (ngSubmit)="login()" class="login">
						<img src="https://i.ibb.co/17TXg9c/twiddit-logo.png" width="50px">
                		<h1 class="scale-up-bottom">LogIn</h1>
						<div class="login__field">
							<i class="login__icon fas fa-user"></i>
							<input type="text" class="login__input" placeholder="Usuario" formControlName="username">
						</div>
						<div class="login__field">
							<i class="login__icon fas fa-lock"></i>
						<input type="password" class="login__input" placeholder="Password" formControlName="password">
						</div>
						
						<div style="background-color: #222; padding: 15px; border-radius: 10px;">
							<strong><h4 style="text-align: center; color: white;">Credenciales empresariales</h4></strong>
						</div>

						
						<div class="login__field">
							<i class="login__icon fas fa-user"></i>
							<input type="text" class="login__input" placeholder="Usuario Directorio" formControlName="username2">
						</div>
						<div class="login__field">
							<i class="login__icon fas fa-lock"></i>
						<input type="password" class="login__input" placeholder="Password directorio" formControlName="password2">
						</div>



						<button class="button login__submit">
							<span class="button__text">Ingresar</span>
							<i class="button__icon fas fa-chevron-right"></i>
						</button>
					</form>
				</div>
				<div class="screen__background">
					<span class="screen__background__shape screen__background__shape4"></span>
					<span class="screen__background__shape screen__background__shape3"></span>		
					<span class="screen__background__shape screen__background__shape2"></span>
					<span class="screen__background__shape screen__background__shape1"></span>
				</div>		
			</div>
		</div>

		<div class="col-4" style="justify-content: center;">
			<div class="screen">
				<div class="screen__content">
            		<form [formGroup]="formulario2" (ngSubmit)="onSubmit()" class="login">
						<img src="https://i.ibb.co/17TXg9c/twiddit-logo.png" width="50px">
                		<h1 class="scale-up-bottom">Registrar</h1>
						<div class="login__field">
							<i class="login__icon fas fa-user"></i>
							<input type="text" class="login__input" placeholder="correo" formControlName="email">
						</div>

						<div class="login__field">
							<i class="login__icon fas fa-user"></i>
							<input type="text" class="login__input" placeholder="Usuario" formControlName="username">
						</div>

						<div class="login__field">
							<i class="login__icon fas fa-lock"></i>
						<input type="password" class="login__input" placeholder="Password" formControlName="password">
						</div>
						
						<button class="button login__submit">
							<span class="button__text">Registrar</span>
							<i class="button__icon fas fa-chevron-right"></i>
						</button>
					</form>
				</div>
				<div class="screen__background">
					<span class="screen__background__shape screen__background__shape4"></span>
					<span class="screen__background__shape screen__background__shape3"></span>		
					<span class="screen__background__shape screen__background__shape2"></span>
					<span class="screen__background__shape screen__background__shape1"></span>
				</div>		
			</div>
		</div>
	</div>
</div>
