<div class="container mt-3">
    <div class="alert alert-info" role="alert">
        
        <button type="button" class="close text-danger" aria-label="Close" style="float: right;" (click)="cerrarDialogo()">
            <span aria-hidden="true">&times;</span>
        </button>
        
        <div class="container" style="text-align: left;">
            <h4 class="mb-4">Validación de datos</h4>
            <form [formGroup]="formulario" (ngSubmit)="onSubmit()">

                <div class="form-group col-md-12">
                    <label for="NIC_Cedula">NIC: {{data.NIC_Cedula}}</label>
                </div>
                <div class="form-group col-md-12">
                    <label for="Celular">Celular: {{data.Celular}}</label>                
                </div>
                <div class="form-group col-md-12">
                    <label for="Direccion_nuevo">Agregue dirección nueva (Opcional)</label>
                    <input type="text" class="form-control" id="Direccion_nuevo" placeholder="Direccion nueva" formControlName="Direccion_nuevo">
                </div>
                <div class="form-group col-md-12">
                    <label for="Token_sms">Escriba token enviado por mensaje de texto</label>
                    <input type="text" class="form-control" id="Token_sms" placeholder="Token" formControlName="Token_sms">
                </div>
                <br>
                <button type="submit" class="btn btn-success" style="text-align: center;">Enviar</button>
            </form>
        </div>
        
    </div>
</div>


