<app-header></app-header>
<br>


@if(datos2.length>0){
    <div class="container" [@fadeInOut]>
        <div class="row">
            <div class="col-8" style="justify-content: left;">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-primary" style="margin-right: 30px;" (click)="downloadExcel()">Descargar base de titularidades <i class="fa-solid fa-download"></i></button>
            </div>
            
            <input type="file" (change)="onFileChange($event)" />
        </div>
        <div class="col-4"></div>
        </div>
    </div>

    <div class="container">
        <br>
        <div class="table-responsive">
            
            <table [@fadeInOut]>
                <caption>Base de datos de titulares</caption>
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">NIC</th>
                    <th scope="col">Nombre de titular</th>
                    <th scope="col">Dirección de titular</th>
                    <th scope="col">Celular de titular</th>
                    <th scope="col">Usuario de cargue</th>
                    <th scope="col">Tipo de cargue</th>
                    <th scope="col">Fecha de cargue</th>
                    <th scope="col">Celular nuevo</th>
                    <th scope="col">Dirección nueva de titular</th>
                    <th scope="col">Habeas Data</th>
                  </tr>
                </thead>
                <tbody>
                    @for (dato of datos2
                        .slice((paginaActual - 1) * itemsPorPagina, paginaActual * itemsPorPagina); track dato.id) {
                        <tr>
                            <th scope="row">{{dato.NIC_Cedula}}</th>
                            <td>{{dato.Nombre}}</td>
                            <td>{{dato.Direccion}}</td>
                            <td>{{dato.Celular}}</td>
                            <td>{{dato.Usuario_cargue}}</td>
                            <td>{{dato.Tipo_cargue}}</td>
                            <td>{{dato.Fecha_cargue}}</td>
                            <td>{{dato.Celular_nuevo}}</td>
                            <td>{{dato.Direccion_nuevo}}</td>
                            <td>{{dato.Habeas_Data}}</td>
                        </tr>
                    }
                </tbody>
            </table>
            <pagination [(ngModel)]="paginaActual" [totalItems]="datos2.length" [itemsPerPage]="itemsPorPagina"></pagination>
        </div>
    </div>
}

@if(datos2.length==0){
    <br>
    <div class="container" [@fadeInOut]>
        <div class="row">
            <div class="col-8" style="justify-content: left;">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Ingrese NIC" [(ngModel)]="InputNIC" (ngModelChange)="FiltrarNIC()">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" (click)="FiltrarNIC()">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-4">
                
            </div>
        </div>
    </div>
    @if(InputNIC.length>0){

        <div class="container">
            <br>
            <div class="table-responsive">
                
                <table>
                    <caption>Filtro de NIC</caption>
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col">Nic</th>
                        <th scope="col">Nombre de titular</th>
                        <th scope="col">Dirección de titular</th>
                        <th scope="col">Celular de titular</th>
                        <th scope="col">Celular nuevo</th>
                        <th scope="col">Dirección nueva de titular</th>
                      </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">{{datos3.NIC_Cedula}}</th>
                            <td>{{datos3.Nombre}}</td>
                            <td>{{datos3.Direccion}}</td>
                            <td>{{datos3.Celular}}</td>
                            <td>{{datos3.Celular_nuevo}}</td>
                            <td>{{datos3.Direccion_nuevo}}</td>
                        </tr>
                        
                    </tbody>
                </table>
                <pagination [(ngModel)]="paginaActual" [totalItems]="datos2.length" [itemsPerPage]="itemsPorPagina"></pagination>
            </div>
        </div>
    } 
}


<app-footer></app-footer>