<mat-toolbar style="background-color: #001489;" color="primary">
    <a mat-button routerLink="/home" routerLinkActive="active"><span class="fa-solid fa-cow"></span> Vacas</a>
    <a mat-button routerLink="/bases" routerLinkActive="active"><span class="fa-solid fa-passport"></span> Planes</a>
    <a mat-button routerLink="/sms" routerLinkActive="active"><span class="fa-solid fa-comments"></span>Comentarios</a>
    <a mat-button routerLink="/login" routerLinkActive="active" (click)="Salir()"><span class="fa-solid fa-right-from-bracket"></span> Salir</a>
    <span class="flex-spacer"></span>
  
    <!--<form (ngSubmit)="onSubmit()"><i class="fa-solid fa-passport"></i>
      <div class="ml-auto">
        <button mat-button type="submit"><span class="fa-solid fa-right-from-bracket"></span>Salir</button>
      </div>
    </form>-->
</mat-toolbar>
