<div class="container footer">
  <div>
    <div style="text-align: center;">
      <h4 style="color: black"><strong>Síguenos:</strong></h4>
      <a mat-icon-button class="btn-facebook" href="https://www.facebook.com"><i class="fa-brands fa-facebook"></i></a>
      <span style="margin-right: 10px;"></span>
      <a mat-icon-button class="btn-linkedin" href="https://co.linkedin.com"><i class="fa-brands fa-linkedin"></i></a>
      <span style="margin-right: 10px;"></span>
      <a mat-icon-button class="btn-youtube" href="https://www.youtube.com"><i class="fa-brands fa-youtube"></i></a>
    </div>
  </div>
  <div>
    <p style="text-align: center; color: black"><strong>© Copyright 2024 Parchate</strong></p>
  </div>
</div>


