
.footer{
    background-color: #ffffff;
}

.btn-facebook {color:#fff; background-color:#3b5998!important;}
.btn-youtube{color:#fff!important;background-color:#ff4b39!important;}
.btn-linkedin{color:#fff!important;background-color:#007bb6!important;}
.btn-twitter{color:#fff!important;background-color:#000000!important;}